.imgques{
    height:200px;
    width: 200px;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
}

.opt1{
    width: 400px;
    margin-top: 20px;
    margin-left: 60px;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
}
.opt2{
    width: 400px;
    margin-top: 20px;
    margin-left: 60px;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
}

.myText{
    float:right;
    font-family: cursive;
    font-size: 30px;
    margin-top: 30px;
    font-weight: bold;
    color: brown;
    margin-right: 760px;
}